.icons-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 90px;
    flex-direction: column;
  }
  .button{
      cursor:pointer;
      transition: transform 300ms ease;
      font-size: 50px;
  }
  .red{
    color:red;
  }
  h3{
    height: 30px;
    width: 100px;
  }
  .button:hover{
      transform: scale(1.1);
  }